@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}
:root {
  --background: #191919;
  --foreground: #fff;
  --font-inter: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
}
.container {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}
p, span{
  font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}

nav.main-menu {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.button-gradient {
  border-radius: 400px;
  background: linear-gradient(94deg, #2BDF68 28.85%, #B4F463 97.68%);
}

.main-menu a {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

h1, .h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: -0.576px;
}

h2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.225px;
}
h3{
  font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 32px; 
letter-spacing: -0.144px;
}
.common-button {
  color: #1D2125;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.144px;
  padding: 15px 58px;
}

.gradient-text {
  background: var(--gradient, linear-gradient(94deg, #2BDF68 28.85%, #B4F463 97.68%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Vision-shadow-one {
  border-radius: 372px;
  opacity: 0.6;
  background: rgba(87, 230, 103, 0.15);
  filter: blur(200px);
  width: 372px;
  height: 372px;
  position: absolute;
  top: -100px;
  left: 0;
}
.Vision-shadow-two {
  border-radius: 464.796px;
  opacity: .2;
  background: #e9ffcd66;
  width: 464.796px;
  height: 464.796px;
  filter: blur(120px);
  position: absolute;
  top: 90px;
  left: 39%;
}
.Vision-shadow-three {
  border-radius: 307.563px;
  width: 307.563px;
  height: 307.563px;
  flex-shrink: 0;
  opacity: .2;
  background: #57e66766;
  filter: blur(120px);
  position: absolute;
  top: 300px;
  right: 13%;
}
form input, form textarea {
  border-radius: 6px;
  border: 1px solid #CBD5E1;
  padding: 8px 56px 8px 12px;
  background: transparent;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #94A3B8;
  width: 100%;
}
.join-shape-before{
  border-radius: 372px;
opacity: 0.6;
background: var(--green-for-gradient-BG, rgba(87, 230, 103, 0.15));
filter: blur(200px);
position: absolute;
left: -3px;
top: -6px;
width: 372px;
height: 372px;
}
.join-shape-after{
  border-radius: 372px;
  opacity: 0.6;
  background: var(--green-for-gradient-BG, rgba(87, 230, 103, 0.15));
  filter: blur(200px);
position: absolute;
right: 0;

bottom: -177px;
width: 372px;
height: 372px; 
}
form button.common-button.button-gradient {
  padding-top: 12px;
  padding-bottom: 12px;
}
ul.contact-icon li, ul.contact-icon li a {
  display: flex;
  align-items: center;
  grid-gap: 14px;
  letter-spacing: .2px;
  font-weight: 300;
}
.box-shadow2 {
  width: 326.024px;
  height: 326.196px;
  flex-shrink: 0;
  border-radius: 326.196px;
  opacity: .2;
  background: #57e66766;
  filter: blur(120px);
  position: absolute;
  bottom: -30%;
  right: 6%;
  z-index: 2;
}
.box-shadow1 {
  width: 606px;
  height: 606px;
  border-radius: 606px;
  opacity: .2;
  background: #e9ffcd66;
  filter: blur(120px);
  z-index: -1;
  position: absolute;
  top: 0;
  right: 7%;
}
.number-text span {
  border-radius: 100px;
  border: solid 3px #57E667;
  width: 48px;
  height: 48px;
  display: inline-block;
  vertical-align: middle;
  padding: 8px 0;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: .4px;
  margin-right: 14px;
}
.lightGreen a{
   color: #57E667;
}
svg {
  max-width: 100%;
  height: auto;
}
.popular-bg {
  background: var(--new-gradient, linear-gradient(94deg, #2BDF68 28.85%, #B4F463 97.68%));
}
.plan-button {
  position: relative;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  padding: 9px;
  z-index: 5;
  color: #fff;
  border-radius: 20px;
}
.popular-plan {
  background: #191919;
}
.normal-plan {
  color: #44E367;
}

.normal-plan::before {
  position: absolute;
  border-radius: 20px;
  background: var(--new-gradient, linear-gradient(94deg, #2BDF68 28.85%, #B4F463 97.68%));
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -1;
  top: 0;
}

.normal-plan::after {
  position: absolute;
  content: "";
  background: #1D2125;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  left: 1px;
  top: 1px;
  border-radius: 20px;
  bottom: 0;
  z-index: -1;
}
.popular-badge {
  display: flex;
  width: 104px;
  height: 104px;
  transform: rotate(5.5deg);
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  right: -38.49px;
  top: -64px;
  border-radius: 100px;
  background: #191919;

}
.popular-badge span {
  background: var(--new-gradient, linear-gradient(94deg, #2BDF68 28.85%, #B4F463 97.68%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-align: center;
}
.custom-according svg {
  stroke: #57E667;
}
.faq-shadow {
  border-radius: 827px;
  opacity: 0.6;
  background: rgba(233, 255, 205, 0.20);
  filter: blur(200px);
  position: absolute;
  left: 50%;
  top: 70px;
  width: 827px;
  height: 827px;
  transform: translate(-50%, 0px);
}
.max-svg svg{
  width: 32px;
  height: 32px;
  max-width: initial;
}
.footer-social svg {
  width: 24px;
  height: 24px;
  max-width: initial;
}
.contact-socail ul {
  gap: 40px;
}
.contact-socail ul svg{
  width: 40px;
  height: 40px;
  max-width: initial;
}
.login-bg {
  border-radius: 621px;
  opacity: 0.6;
  background: var(--green-for-gradient-BG, rgba(87, 230, 103, 0.15));
  filter: blur(200px);
  width: 621px;
  height: 621px;
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
}
.access-page{
  background-image: url(/assets/access-denied-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.not-found{
  background-image: url(/assets/not-found.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.plans-section {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}

.plans-section button, .cancel-button {
  border-radius: 100px;
  border: 1px solid #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding: 10px 20px;
  margin: 0;
  min-width: 152px;
}
.plans-section button.active, .save-button {
  border: 2px solid var(--new-gradient, #2BDF68);
  background: var(--new-gradient, linear-gradient(94deg, #2BDF68 28.85%, #B4F463 97.68%));
  color: #000;
}
.save-button {
  border-radius: 100px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding: 10px 20px;
  margin: 0;
  min-width: 152px;
}
.filter-container select {
  border-radius: 6px;
  border: 1px solid var(--slate-300, #CBD5E1);
  background: transparent;
  padding: 8px 10px;
  font-size: 14px;
  min-width: 204px;
}
.filter-container label.filter-label {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-right: 15px;
}
.prodcut-card {
  border-radius: 10px;
  flex-direction: column;
  display: flex;
  gap: 30px;
  padding: 40px;
}
span.available-car {
  border-radius: 24px;
  background: var(--gradient, linear-gradient(94deg, #2BDF68 28.85%, #B4F463 97.68%));
  width: max-content;
  position: absolute;
  top: 30px;
  color: #191919;
  padding: 3px 22px;
}
span.unavailable-car {
  border-radius: 24px;
  background: #1d2125;
  width: max-content;
  position: absolute;
  top: 30px;
  color: #fff;
  padding: 3px 22px;
  border: solid 1px #fff;
}
button.plan-button {
  border-radius: 24px;
  background: var(--gradient, linear-gradient(94deg, #2BDF68 28.85%, #B4F463 97.68%));
}

button.plan-button::before {
  position: absolute;
  content: "";
  background: #1d2125;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 24px;
  top: 1px;
  left: 1px;
  z-index: -1;
}
.font-normal p{
  font-weight: 400 !important;
}
.rounded-corners {
  border-radius: 50px;
}
.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 70%;
  height: 0;
}
.bg-gradient{
background: var(--new-gradient, linear-gradient(94deg, #2BDF68 28.85%, #B4F463 97.68%));
}
.plan-selected-inner {
  display: flex;
  padding: 19px 20px;
  justify-content: space-between;
  gap: 8px;
  align-self: stretch;
  width: 100%;
  border-radius: 12px;
  border: 1px solid #2c5436;
}
input:checked ~ .plan-selected-inner {
  border-color: #57E667;
  background: #1D2125;
}
.plan-selected-inner span.ml-3 {
  margin-left: 10px;
  font-size: 18px;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.product-page h1 {
  font-size: 24px;
}
.card-info {
  border-radius: 12px;
  background: var(--gradient, linear-gradient(94deg, #2bdf68 28.85%, #b4f463 97.68%));
  z-index: 1;
  position: relative;
}
.card-info::before {
  position: absolute;
  content: "";
  background: #1d2125;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 12px;
  top: 1px;
  left: 1px;
  z-index: -1;
}
.react-datepicker-wrapper {
  width: 100%;
}
.react-datepicker-wrapper input.border.p-2.rounded.w-full, .select-feild select {
  background-color: #0000;
  font-size: 14px;
  padding: 10px;
  border: solid 1px #fff;
  border-radius: 10px;
}
.select-feild select option {
  color: #000;
}
.dis-card ol {
  margin-top: 20px;
  font-weight: 300;
}
.dis-card ol a {
  color: rgb(87 230 103 / var(--tw-text-opacity, 1));
}
.dis-card ol ul {
  margin-bottom: 20px;
}
.dis-card ol h6.headername {
  color: #57E667;
  margin-bottom: 15px;
}
button.cutom-button-outline {
  border-radius: 100px;
  border: 1px solid #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding: 3px 20px;
  margin: 0;
}
.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}
.form-group span {
  position: relative;
  cursor: pointer;
}
.form-group span:before {
  content: "";
  -webkit-appearance: none;
  background-color: #0000;
  border: 1px solid #ffffff;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  width: 18px;
  height: 18px;
  border-radius: 4px;
}
.form-group input:checked + span:after {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 6px;
  width: 6px;
  height: 10px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
@media (min-width: 768px) {
  p.large-text, .large-text p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }

}
@media (max-width: 1340px) {
  .popular-badge {
    right: -15px;
}
}
@media (max-width: 1200px) {
  .box-shadow1 {
      right: 2%;
      width: 446px;
      height: 446px;
  }
  .popular-badge {
    top: -30px; 
}
.faq-shadow {
  width: 100%;
  height: 100%;
}
}
@media (max-width: 1023px) {
.contact-socail ul {
  margin: 0;
}
}
@media (max-width: 767px) {
  .plans-section {
    display: grid;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
.plans-section button, .cancel-button, .save-button {
  font-size: 14px;
}
.plans-grid-container .filter-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  gap: 10px;
}
.prodcut-card {
  gap: 24px;
  padding: 16px;
}
span.available-car, span.unavailable-car {
  top: 16px;
}
  .login-bg {
    display: none;
  }
  h3 {
    font-size: 20px;
}
  .footer-social ul.flex {
    justify-content: space-between;
}
  .footer-social svg {
    width: 50px;
    height: 50px;
    max-width: max-content;
}
  .popular-badge {
    width: 94px;
    height: 94px;
}
.popular-badge span {
  font-size: 16px;
}
  .number-text span {
    width: 36px;
    height: 36px;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0px;
    margin-right: 4px;
}
.number-text h2 {
  font-size: 20px;
}
  .box-shadow1 {
    width: 306px;
    height: 306px;
    bottom: 0;
    top: inherit;
    border-radius: 361.094px;
    opacity: 0.2;
    background: rgba(233, 255, 205, 0.40);
    filter: blur(71.5037612915039px);
    right: inherit;
    left: 50%;
    transform: translate(-50%, 0);
}
  ul.contact-icon li, ul.contact-icon li a, footer a {
    font-size: 14px;
}
  .Vision-shadow-one {
    border-radius: 315px;
    width: 315px;
    height: 315px;
    left: 50%;
    transform: translate(-50%, 0px);
    top: -100px;
}
  .common-button {
    font-size: 18px;
    padding: 8px 15px;
  }

  h1, .h1 {
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.225px;
  }

  h2 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.144px;
  }

  .container {
    padding: 0 16px;
  }

  .main-menu a {
    font-size: 16px;
  }

  nav.main-menu ul.flex {
    margin-bottom: 20px;
  }
}
