@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #191919;
  --foreground: #fff;
  --font-inter: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
}
.container {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}
nav.main-menu {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}
.button-gradient {
  border-radius: 400px;
  background: linear-gradient(94deg,#2bdf68 28.85%,#b4f463 97.68%);
}
.main-menu a {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}